
body{
    background-color: #eceef1;
    font-family: Arial, Helvetica, sans-serif;
    
}

#navSignIn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: 200;
}

#signInOptions{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#signInOptions span{
    display: block;
    font-size: 13px;
}

#signInButton{
    margin-left: 10px;
    font-size: 14px;
    border: none;
    background-color: #0077c5;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.lockImageButton{
    height: 1em;
    width: .8em;
    margin-top: 2px;
    margin-right: 4px;
    vertical-align: text-top;
    display: inline-block;
    display: inline-block;
    background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/icon-whitelock@3x-76f33cec.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#centralContainer{
    display: flex;
    flex-direction: column;
    width: 500px;
}

#mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#accountPromotion{
    
}

#formContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
}

#titleForm{
    text-align: center;
    margin-bottom: 20px;
}


.formLabels{
    display: block;
    margin-bottom: 20px;
}

#submitButton{
    margin-left: 10px;
    font-size: 14px;
    border: none;
    background-color: #0077c5;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.inputText{
    width: 100%;
}


